* {
    background-color: rgb(240, 217, 182);
    font-weight: 800;
}

h1, h2 , h4 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    text-align:left;
}